python-dateutil
docutils
feedparser
gdata
jinja2
python-ldap
lxml
mako
mock
python-openid
psycopg2
psutil
babel
pychart
pydot
pyparsing
reportlab
simplejson
pytz
unittest2
vatnumber
vobject
pywebdav
werkzeug
xlwt
pyyaml
